@font-face{
    font-family: "mainFont";
    src: url(fonts/regular.ttf);
}

@font-face{
    font-family: "gothic";
    src: url(fonts/erben_gothic.ttf)
}

@font-face{
    font-family: "western";
    src: url(fonts/westernic.otf)
}

@font-face{
    font-family: "nintendo";
    src: url(fonts/nintendo.otf)
}

@font-face{
    font-family: "semiRegular";
    src: url(fonts/ShareTech-Regular.tff)
}

body{
    text-align: center;
    background-image:url(images/graffitiBG.jpg);
    color:white;
}

body a{
    text-decoration:none;
    font-weight:bold;
    color:white;
}

main{
     background-image: 
     radial-gradient(circle, #893af0, #6d4be7, #5554db, #435acb, #395dba, #3960b7,
      #3a63b3, #3c65af, #3e6abb, #406fc6, #4373d2, #4678de);
    padding:5%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px; 
}


/* Top Navigation settings */

/*giving the nav section flex so that the links can be displayed
side by side in a bar. changing the width and margins so the bar covers the whole top fo the screen*/
.top{
    display: flex;
    width: 100%;
    margin-left: -1%;
    margin-top: -1%;
}

/*turning the links and button into the flex boxes and decorating them*/
.top a{ 
    background: none;
    flex: 1 0 auto;
    display:block;
    text-decoration: none;
    border: 2px outset;
    color: white;
    background-color: black;
    padding: 2%;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;  
    font-family: "gothic";
    font-size: 2em;
}

/*this code ensures that the links change color, and become larger when hovered upon*/
.top a:hover, .top button:hover{   
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px outset; 
}

.top .currentLink {
    background-color: red;
}

.top a:hover{
    padding-right: 20%;
}

.top a:active{
    font-weight:bold;
    background-color: purple;
    color: white;
}

h1, h2, h3{
    font-family: "nintendo";
    text-align: center;
    
}

p, a{
    font-family: "mainFont";
    font-size: large;
}

#caution{
    color: red;
}

#flex1{
    display:flex;
}

#box1{
    flex:65%;
    border:black 1px dashed
}

#box2{
    flex:25%;
    border:black 1px dashed
}

dl{
    font-size: large;
    padding: 3%;
}

dt{
    padding: 1%
}

dl a{
    text-decoration:underline;
}

footer{
    display:inline-block;
    background-color: black;
    padding:2%
}


@media only screen and (max-width: 600px) {

       #top{
        display:block;
    }
    #top a:hover{
        padding-right: 0%
    }

    #tabAndList{
        display:block;
    }

    #flex1{
        display:block;
    }
}